.partners-container-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    /* height: auto; */
    height: 450px;
    background-color: #ddd;
}
.title-bar-high:before {
    content: "";
    height: 3px;
    width: 40px;
    background:#ED1D24;
    position: absolute;
    left: 0;
    bottom: -15px;
    z-index: 1
}
.partners-content {
    width: inherit;
    height: auto;
    background-color: black;
    color: white;
}
.logos {
    display: flex;
    width: inherit;
    height:auto;
    flex-wrap: wrap;
    padding:5px 50px;
    flex-direction: row;
}
.logo-wrapper {
    display: flex;
    width: 250px;
    height: 250px;
    /* border: 1px solid red; */
    padding: 10px;
    margin: 10px 20px;
}
.logo-wrapper img {
    width: 100%;
    height:auto;
    overflow: hidden;
    object-fit: contain;
}