.container {
    display: flex;
    width: 100%;
    background-color: #00b040;
    height: 3rem;
    color: white;
    justify-content: space-between;
}
.top-icons {
    line-height: 24px;
}
.searchContainer {
    display: flex;
    align-items: center;
    margin: 0px 1rem;
}
.searchContainer .search-field {
    font-family: inherit;
    border-radius: 2px;
    padding: 2px;
    border: 0px;
    width: 90%;
    background-color: white;
    height: auto;
}
.links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;
    font-size: .75rem;
}
.links li {
    padding: 10px;
}
.links li a {
    text-decoration: none;
    color: inherit;
}
.modal-box {
    display: none;
    position: absolute;
    top: 60px;
    left: 100px; 
    z-index: 25;
    height: 200px;
    width: 300px;
    background-color: #ddd;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
}

.modal-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 70px;
    left:50px;
    background-color: #ddd;
    width: 85%;
    height: 75vh;
    /* border: 1px solid; */
    z-index: 10;
    padding: 30px 30px;
    flex-wrap: wrap;
}
.book-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 180px;
    background-color: green;
    /* border: 1px solid; */
    margin: 0px 25px;
}
.book-menu-container a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}
.cart-top-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    margin: 0px 50px;
}
.cart-number-items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: red;
}
.cart-number-items strong {
    color: white;
    font-size: 10px;
}





/* @media (max-width: 400px){
    body {
        background-color: red; 
    } 
} */