.cart-items-container {
    display: flex;
    flex-direction: column;
    width:inherit;
    height: auto;
    overflow-y: hidden;
    height: 25rem;
}

.place-order-btn {
    position: absolute;
    bottom: 0em;
    right: 1em;
}