.book-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: auto;
    padding-top: 1em;
    
    
}
.book-details {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
}
.book-details-info {
    display: flex;
    flex-direction: row;
}
.book-details-info .book-details-image {
    flex: 8;
}
.book-details-info .text-details-container {
    flex: 2;
}
.book-details-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
}

.text-details-container {
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;
}
.text-details-container strong {
    padding: 5px 0px;
}
.product-details-container, .editor-container, .readers-container {
    align-self: flex-start;
    width: 80%;
    margin: 5px 140px;
}
.editor-container {
    width: 80%;
}
.review-container {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: 10px 0px;
}
.review-container-description {
    display: flex;
    flex-direction: column;
}
.top-text-labels, .cart-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ratings-container {
    padding: 0px 10px;
}
.review-comment-container {
    margin-bottom: 4em;
    /* border: 1px solid; */
}
.top {
    margin-top: 50px;
}
.link-review {
    text-decoration: none;
}