.events-listing-container {
    display: flex;
    flex-direction: row;
    width: inherit;
    margin: 25px 0px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}
.events-timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: auto;
}