.image-container { 
    overflow: hidden;
    display: flex;
    width: 200px;
    height: 120px;
    justify-content: center;
    align-items: center;
}
img {
    width: inherit;
    height: auto;
    object-fit: cover;
}
.caption-container {
    width: 20%;
    padding: 0px 65px;
    margin-left: 50px;
    padding-bottom: 2px;
}