.login-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:inherit;
    height: auto;
    /* border: 1px solid burlywood; */
}
.login-form-wrapper {
    width: 50%;
    height: auto;
    /* border: 1px solid; */
}