.product-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25em
}
.product-details span {
    padding-left: 0.5em;
    font-size: 0.85em;
}